[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-configurations = "*"
python-dotenv = "*"
docutils = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"
factory-boy = "*"

[requires]
python_version = "3.12"
